.parent {
	background-color: #ddd;
	height: 350px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.align-baseline {
	align-items: baseline;
}

.child {
	min-width: 30px;
	margin: 5px;
	min-height: 30px;
	background-color: dodgerblue;
	text-align: center;
	border: 1px solid navy;
	height: auto;
}

.column {
	float: left;
	width: 25%;
	/* padding: 10px; */
}

.active-button {
	background: #2196F3;
	color: white;
}

.wrap {
	width: 200px;
}

button {
	display: block;
	margin-bottom: 1.5em;
	border: 2px solid black;
	background-color: white;
	border-color: #2196F3;
	color: dodgerblue;
	padding: 7px 14;
	font-size: 16px;
	cursor: pointer;
}


